html{
    height: 100%;
}

body{
    /* for footer  */
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }  

footer{
    width: 96vw;
    height:4rem;
    background-color: #59b256;
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.p{
    margin: 0;
    padding: 0;
}
footer p {
    font-size: 1rem;
    text-align: center;
    text-transform: capitalize;
    line-height: 4rem;
}

@media screen and (min-width:480px) ,  (max-width:768px){
    footer{
        /* width: 97.8vw; */
        width: 98.9vw;
    }
}
